asgiref==3.9.1
Django==5.2.5
djangorestframework==3.16.1
sqlparse==0.5.3
tzdata==2025.2

Update 11: Improve model __str__ — 2023-10-20

Update 17: Improve model __str__ — 2021-05-26

Update 23: Improve model __str__ — 2021-03-09
